*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

body{
    height: 100vh;
}
 
header{
    height: 15vh;
}

main{
    height: 100%;
    
}

footer{
    height: 7%;
}

.header_banner{
    background-image: url(../assets/img/fondo_header.png);
    background-size: cover;
    background-repeat: repeat;
}

.main_banner{
    background-image: url(../assets/img/banner_main.png);
    background-size:cover;
    background-repeat: repeat;

}

#imagenartefull{
    background-image: url(../assets/img/logo_inicio_AF.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
        height: 40vh;
    }

    .titulos {

        font-family: Montserrat;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 6px;
      
    }

    main h1 {
        font-family: Montserrat;
        font-weight: bold;
        letter-spacing: 15px;
     
    }
    
    main h2 {
        font-family: Montserrat ;
        font-weight:400;
        font-style: italic;
 
    }

    main h5{
        font-family: Montserrat ;
        font-size: 12pt;
        font-weight:bold;
        font-style:italic;

    }

    main p{
        font-family: Montserrat ;
    }

    .montserrat{
        font-family: Montserrat ; 
    }

    .textochico{
        font-size: 8pt;
    }
