* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  height: 15vh; }

footer {
  height: 3vh;
  margin-top: 10px; }

.font-style, .font-style--small, .font-style--medium, .font-style--title {
  font-family: Montserrat;
  font-style: italic;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-align: center; }

.font-style--small {
  font-size: 8pt; }

.font-style--medium {
  font-size: 12pt; }

.font-style--title {
  font-size: 24pt; }

.container--nav {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 100%; }

nav ul {
  list-style: none; }
  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 10px;
    height: 50%;
    background-color: white; }
    nav ul li:hover {
      background-color: #e8e237; }

.header_banner {
  background-image: url(../assets/img/fondo_header.png);
  background-size: cover;
  background-repeat: repeat; }

.main_banner {
  background-image: url(../assets/img/banner_main.png);
  background-size: cover;
  background-repeat: repeat; }

#imagenartefull {
  background-image: url(../assets/img/logo_inicio_AF.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 48vh; }

.card-spaceing, .card-spaceing--text, .card-spaceing--btn {
  display: flex;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center; }

.card-spaceing--text {
  color: black; }

.card-spaceing--btn {
  background-color: yellow; }
