
// Imagenes de fondo
$imagen-logo-index: url(../patrones_de_fondo/logo_inicio_AF.png);

// Propiedades fuentes
$font-family: Montserrat;
$small-font: 8pt;
$medium-font: 12pt;
$title-font: 24pt;

// Colores a utilizar
$tx-white: white;
$tx-black: black;

// Colores a utilizar fondo
$bg-white: white;
$bg-yelow: #e8e237;
$bg-gray: rgb(174, 174, 174);

